@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Noto+Serif&family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Slab&family=Updock&family=Whisper&display=swap');

:root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Noto Sans JP', sans-serif;
}

h3{
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--light);
}

.navbar-container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

.toggle-button{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.toggle-button span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position:relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.toggle-button:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}

.toggle-button.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.toggle-button.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.toggle-button.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.toggle-button.is-active:hover span{
    background-color: var(--primary);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content:flex-end;
    margin: 0 -16px;
}

.list{
    margin: 2.5rem 0;
}

.menu.active{
    left: 0;
}

.menu a{
    color: var(--light);
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover{
    background-color: var(--primary)
}

@media (min-width: 768px) {
    .toggle-button{
        display: none
    }
    .menu{
        display: flex;
        
    }
}